---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}

  {% assign pages_list = site.pages | sort:"name" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "bio" %}
          <hr />
    	  
    	  <div class="thumbnail">
    	  	<img src="{{ node.image }}" alt="{{ node.title }}" />
    	  </div>

    	  <h2>{{ node.title }}</h2>
    	  {{ node.content }}
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
